<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! It's your personal cabinet</h1>
<h1 th:inline="text">What do you want?</h1>
<p><a href="http://localhost:8080/board.html">click here to play chess on one computer</a></p>
<form th:action="@{/newGame}" method="post">
    <div><input type="submit" value="Play"/></div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>