 .board{
    width: 640px;
    height: 640px;
    border: 20px solid #55cdef;
     display: inline-block;
    }
    .square{
    float: left;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    }
    .black{
    background-color: #999;
    }
    .white{
    background-color: #eee;
    }
    .figure{
    font-size:60px;
    cursor:pointer;
    }
    .players{
        font-size:60px;
    }
    .status{
     font-size:60px;
      }
 .message{
     font-size:60px;
 }
 .logs{
    display: inline-block;
     width: 320px;
     height: 640px;
     vertical-align: top;
     border:1px solid black
 }